# Dependencies
node_modules
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
coverage

# Next.js build output
.next
out

# Production
build

# Misc
.DS_Store
Thumbs.db
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files (behåll .env.production om du vill kopiera den)
.env
.env.local
.env.development
.env.test
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Playwright
test-results
playwright-report
blob-report
playwright/.cache
playwright/.auth
